:root {
    --bgColor: #28294a;
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

/* Header Style */
.header {
    background-color: var(--bgColor);
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header .logo {
    font-size: 1.8em;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f8c74e;
}

/* Hero Section */

.hero {
    background-image: url('space.jpg'); /* Specify the image path here */
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #e7e5e5;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #f8c74e;
    color: #333;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.cta-btn:hover {
    background-color: #f8b739;
}
